{% extends "./_layout.html" %} {% block content %}
<div class="content-wrapper">
    {{ include("_generic_component/list_breadcrumb.html") }}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <form action="index.php?controller=branch&action=save" method="POST" class="row">
            <input type="hidden" name="id" id="id" value="{{result[0].id}}">
            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <h5>Details</h5>
                                    </div>
                                    <div class="pull-right box-tools">
                                        <a href="#" class="text-muted" data-widget="collapse" data-original-title="Collapse"><i
                                                class="fa fa-minus"></i></a>
                                    </div>
                                </div>
                                <div class="box-body form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% include '_generic_component/dropdown.html'
                                            with {'label': 'Type' , 'data' : alltype ,'id' : 'type' ,disabled 
                                            : false , required : true} %}
                                        </div>
                                        
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_text.html'
                                            with {'label': 'Name' , 'id' : 'name',
                                            'value' : result[0].name , 'required' : true} %}
                                        </div>

                                        <div class="col-md-6">
                                            {% include '_generic_component/input_textarea.html'
                                            with {'label': 'Address' , 'id' : 'address',
                                            'value' : result[0].address , 'required' : true} %}
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-block btn-primary">
                                <span class="fa fa-fw fa-save"></span>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.row -->

    </section>
</div>
{% endblock content %}