<div class="box-header with-border">
        <div class="box-title">
            <h4><b>{{ breadcrumb.action|upper }}</b></h4>
        </div>
        <div class="box-tools pull-right">
            <div class="btn-group">
                {% if breadcrumb.action != 'view' %}
                <a href="#" class="btn btn-block btn-primary">
                    <span class="fa fa-fw fa-plus"></span> NEW {{ breadcrumb.controller|upper|replace({"_" : " "}) }}</a>
                {% endif %}
            </div>
        </div>
    </div>