<table id="list" class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th width="3px">#</th>
            {% for name in columns %}
            {% if name == 'series' %}
            <th>{{ name|upper|replace({"_" : " "}) }} (START - END)</th>
            {% else %}
            <th>{{ name|upper|replace({"_" : " "}) }}</th>
            {% endif %}
            {% endfor %}
            {% if moduledescription == 'Barcode Series' %}
            {% elseif breadcrumb.action == 'viewbarcodedistributed' %}
            {% else %}
                <th width="10px">ACTION</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for key,value in list %}
        <tr>
            <td>{{ key + 1 }}</td>
            {% for name in columns %}
            {% if name == 'status' %}
            <td>
                <span class="label label-success">
                    {% if value[name] == '0' %}
                        Not Yet Used
                    {% elseif value[name] == '1' %}
                        Used by driver
                    {% endif %}
                </span>
            </td>
            {% elseif name == 'date' %}
            <td>{{ value[name]|date("d/M/Y") }}</td>
                {% elseif name == 'barcode' %}
                    <td class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="row">
                                {% for i in value['start']..value['end'] %}
                                        {% if i|length < 2 %}
                                        {% set zeros = '0000000' %}
                                        {% elseif i|length < 3 %}
                                        {% set zeros = '000000' %}
                                        {% elseif i|length < 4 %}
                                        {% set zeros = '00000' %}
                                        {% elseif i|length < 5 %}
                                        {% set zeros = '0000' %}
                                        {% elseif i|length < 6 %}
                                        {% set zeros = '000' %}
                                        {% elseif i|length < 7 %}
                                        {% set zeros = '00' %}
                                        {% elseif i|length < 8 %}
                                        {% set zeros = '0' %}
                                        {% else %}
                                        {% set zeros = '' %}
                                        {% endif %}
                                        {% if i is divisible by(3) %}
                                        <div class="col-sm-4">
                                            <img class="img-responsive" src='https://barcode.tec-it.com/barcode.ashx?data={{"now"|date("y")}}{{zeros}}{{i}}&code=Code128&dpi=96&dataseparator='
                                                alt='Barcode Generator TEC-IT'/>
                                        </div>
                                        {% else %}
                                        <div class="col-sm-4">
                                            <img class="img-responsive" src='https://barcode.tec-it.com/barcode.ashx?data={{"now"|date("y")}}{{zeros}}{{i}}&code=Code128&dpi=96&dataseparator='
                                                alt='Barcode Generator TEC-IT'/>
                                        </div>
                                        {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                {% else %}
                <td>{{ value[name] }}</td>
                {% endif %}
            {%  endfor %}
            {% if breadcrumb.controller == 'barcodeseries' and breadcrumb.action == 'viewbarcodedist' %}
            <td>
                <a href="index.php?controller={{breadcrumb.controller}}&action=viewbarcodedistributed&id={{value['transaction_no']}}" title="View" class="btn btn-xs bg-green">
                    <span class="fa fa-eye"></span>
                </a>
            </td>
            {% elseif breadcrumb.controller == 'barcodeseries' and breadcrumb.action == 'viewbarcodedistributed' %}
                
            {% elseif breadcrumb.controller == 'barcodeseries' and moduledescription != 'Barcode Series' %}
            <td>
                <a href="index.php?controller={{breadcrumb.controller}}&action=view&d={{value['id']}}" title="View" class="btn btn-xs bg-green">
                    <span class="fa fa-eye"></span>
                </a>
            </td>
            {% else %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>