<table id="list" class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th width="3px">#</th>
            {% for name in columns %}
            {% if name == 'series' %}
            <th>{{ name|upper|replace({"_" : " "}) }} (START - END)</th>
            {% else %}
                <th>{{ name|upper|replace({"_" : " "}) }}</th>
            {% endif %}
            {% endfor %}
            {% if moduledescription == 'Barcode Series' %}
            {% else %}
                <th width="10px">ACTION</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for key,value in list %}
        <tr>
            <td>{{ key + 1 }}</td>
            {% for name in columns %}
                {% if name == 'barcode' %}
                    <td class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="row">
                                {% for i in value['start']..value['end'] %}
                                        {% if i is divisible by(3) %}
                                        <div class="col-sm-4">
                                            <img class="img-responsive" src='https://barcode.tec-it.com/barcode.ashx?data=00000{{i}}&code=Code128&dpi=96&dataseparator='
                                                alt='Barcode Generator TEC-IT'/>
                                        </div>
                                        {% else %}
                                        <div class="col-sm-4">
                                            <img class="img-responsive" src='https://barcode.tec-it.com/barcode.ashx?data=00000{{i}}&code=Code128&dpi=96&dataseparator='
                                                alt='Barcode Generator TEC-IT'/>
                                        </div>
                                        {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                {% else %}
                <td>{{ value[name] }}</td>
                {% endif %}
            {%  endfor %}
            {% if breadcrumb.controller == 'barcodeseries' and moduledescription != 'Barcode Series' %}
            <td>
                <a href="index.php?controller={{breadcrumb.controller}}&action=view&d={{value['id']}}" title="View" class="btn btn-xs bg-green">
                    <span class="fa fa-eye"></span>
                </a>
            </td>
            {% else %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>