{% extends "./_layout.html" %} {% block content %}

<div class="content-wrapper">
    {{ include("_generic_component/list_breadcrumb.html") }}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <form class="row" action="index.php?controller=ticket&action=save" method="POST">
            <input type="hidden" id="ticketid" name="ticketid" value="{{ result[0].id }}" />
            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <!-- /.box-header -->
                <div class="box-body">
                    <div action="" method="POST" class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <h5>Ticket Details</h5>
                                    </div>
                                    <div class="pull-right box-tools">
                                        <a href="#" class="text-muted" data-widget="collapse" data-original-title="Collapse"><i
                                                class="fa fa-minus"></i></a>
                                    </div>
                                </div>
                                <div class="box-body form-horizontal">
                                    <div class="row">
                                        {{ include("_generic_component/notification.html") }}
                                        <div class="col-md-6">
                                            {% include '_generic_component/dropdown.html'
                                            with {'label': 'Ticket Type' , 'data' : allltickettype, 'id' :
                                            'ticket_type'} %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/dropdown.html'
                                            with {'label': 'Customer' , 'data' : allcustomers, 'id' : 'account_no'} %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/dropdown.html'
                                            with {'label': 'Assigned To' , 'data' : allemployee, 'id' : 'assigned_to'}
                                            %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/dropdown.html'
                                            with {'label': 'Status' , 'data' : allstatus, 'id' : 'status'} %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_textarea.html'
                                            with {'label': 'Description' , 'id' : 'description',
                                            'value' : result[0].description , 'required' : true} %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-block btn-primary"><span class="fa fa-fw fa-save"></span>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.row -->

    </section>
</div>
{% endblock content %}