{% extends "./_layout.html" %} {% block content %}
<div class="content-wrapper">
    {{ include("_generic_component/list_breadcrumb.html") }}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <form action="index.php?controller=boxrate&action=save" method="POST" class="row">
            <input type="hidden" name="id" id="id" value="{{result[0].id}}">
            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <h5>Details</h5>
                                    </div>
                                    <div class="pull-right box-tools">
                                        <a href="#" class="text-muted" data-widget="collapse" data-original-title="Collapse"><i
                                                class="fa fa-minus"></i></a>
                                    </div>
                                </div>
                                <div class="box-body form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% include '_generic_component/dropdown.html'
                                            with {'label': 'Box Type' , 'data' : allboxtype ,'id' : 'boxtype_id' ,disabled 
                                            : false , required : true} %}
                                        </div>
                                        
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_text.html'
                                            with {'label': 'CBM' , 'id' : 'cbm',
                                            'value' : result[0].cbm , 'required' : true} %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/dropdown.html'
                                            with {'label': 'Source' , 'data' : allsource ,'id' : 'source_id' ,disabled
                                            : false } %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/dropdown.html'
                                            with {'label': 'Destination' , 'data' : alldestination ,'id' : 'destination_id'
                                            ,disabled
                                            : false } %}
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Amount</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control select2" name="currency_id" style="width: 100%;">
                                                        {% for row in allcurrency %}
                                                        <option value="{{row.id}}" {% if result[0].currency_id == row.id %} selected {% endif %}>{{row.currency_code}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" name="amount" placeholder="Amount" value="{{result[0].amount}}" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-block btn-primary">
                                <span class="fa fa-fw fa-save"></span>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.row -->

    </section>
</div>
{% endblock content %}