{% extends "./_layout.html" %} {% block content %}
<div class="content-wrapper">
    {{ include("_generic_component/list_breadcrumb.html") }}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <h5>Your Booking Details</h5>
                                    </div>
                                    <div class="pull-right box-tools">
                                        <a href="#" class="text-muted" data-widget="collapse" data-original-title="Collapse">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-body form-horizontal">
                                    <div class="col-lg-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Transaction #</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].transaction_no }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Reservation #</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].reservation_no }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Customer</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].customer }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Book Date</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].book_date|date("m/d/Y") }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Booking Status</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].status }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        {# <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Total</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ value }}" readonly>
                                                </div>
                                            </div>
                                        </div> #}
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Receiver</th>
                                                <th>Box Type</th>
                                                <th>Box Number</th>
                                                <th>Hard Port</th>
                                                <th>Action</th>
                                            </tr>
                                            {% for key,value in box_numbers %}
                                            <tr>
                                                <td>{{ key + 1 }}</td>
                                                <td>{{ value['receiver'] }}</td>
                                                <td>{{ value['boxtype'] }}</td>
                                                <td><b>{{ value['box_number'] }}</b></td>
                                                {% if value['hardport'] == '1' %}
                                                <td><span class="label label-success">True</span></td>
                                                {% else %}
                                                <td><span class="label label-danger">False</span></td>
                                                {% endif %}
                                                <td>
                                                    <a title="Track" href="index.php?controller=trackntrace&action=search&transaction_no={{ value['transaction_no'] }}"
                                                    class="btn btn-xs bg-navy">
                                                    <span class="fa fa-location-arrow"></span></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
</div>
<!-- /.row -->

</section>
</div>
{% endblock content %}