{% extends "./_layout.html" %} {% block content %}
<div class="content-wrapper">
    {{ include("_generic_component/list_breadcrumb.html") }}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <h5>Delivery Details</h5>
                                    </div>
                                    <div class="pull-right box-tools">
                                        <a href="#" class="text-muted" data-widget="collapse" data-original-title="Collapse">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-body form-horizontal">
                                    <div class="col-lg-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Delivered date</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].createddate|date("d/M/Y") }}"
                                                        readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Booking #</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].transaction_no }}"
                                                        readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Sender name</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].customer }}"
                                                        readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Received By</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].receivedby }}"
                                                    readonly> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Relationship</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].relationship }}"
                                                    readonly> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Address</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" readonly style="resize:none;">{{ box_numbers[0].province|upper }} {{ box_numbers[0].city|upper }} {{ box_numbers[0].barangay|upper }}</textarea>   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Driver name</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" value="{{ result[0].driver_name }}"
                                                        readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Remarks</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" style="resize:none;" readonly>{{ result[0].remarks }}</textarea>   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Receiver</th>
                                                <th>Box Number</th>
                                            </tr>
                                            {% for key,value in box_numbers %}
                                            <tr>
                                                <td>{{ key + 1 }}</td>
                                                <td>{{ value['receiver'] }}</td>
                                                <td><b>{{ value['box_number'] }}</b></td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="box-title">
                                        <div class="box-title">
                                            <h4><b>IMAGES</b></h4>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                {% for key,row in images %}
                                                <div class="col-sm-2 margin-bottom">
                                                    <img id="myImg" onclick="openModal(this)" class="img-responsive" src='data:image/jpeg;base64,{{ row['image'] }}'/>
                                                </div>
                                                {% endfor %}
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
</div>
<!-- /.row -->

</section>
</div>
{% endblock content %}