{% extends "./_layout.html" %} {% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <div class="box-body">

                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <form method="POST" action="index.php?controller=trackntrace&action=search" class="input-group">
                                    <input type="text" id="boxnumber" name="boxnumber" 
                                    class="form-control" placeholder="Box #" value="{{transaction_no}}">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-danger btn-flat"><span
                                                class="fa fa-fw fa-search"></span></button>
                                    </span>
                                </form>
                            </div>
                        </div>
                        <br><br><br>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-danger">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Details</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="col-md-12">
                                                    <h5>Box # : <span class="label label-success"><b> {{transaction_no }}</b></span></h5>
                                                </div>
                                                <div class="col-md-12">
                                                    <h5>Current Status : <span class="label label-success"><b>{{result[0].status}}</b></span></h5>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-12">
                                                    <h5>Sender : 
                                                        <a href="index.php?controller=customer&action=view&accnt={{sender[0].accnt}}">
                                                            <span class="label label-success"><b>{{sender[0].sender}}</b></span>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div class="col-md-12">
                                                    <h5>Receiver : 
                                                        <a href="index.php?controller=customer&action=viewrec&accnt={{receiver[0].cons}}">
                                                            <span class="label label-success"><b>{{receiver[0].receiver}}</b></span>
                                                        </a>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-12">
                                                        {% if result[0].status == "Delivered"%}
                                                        <h5>Actual Delivery Date :
                                                            <span class="label label-success">
                                                                <b>{{result[0].dateandtime|date("d/M/Y")}}</b>
                                                            </span>
                                                        </h5>
                                                        {% elseif result[0].status == "Loaded" or result[0].status == "In-Transit" %}
                                                            <h5>Estimated Date of Voyage :
                                                                <span class="label label-success">
                                                                    <b>{{result[0].dateandtime|date_modify("+45 days")|date("d-F-Y")}}</b>
                                                                </span>
                                                            </h5>
                                                        {% elseif result[0].status == "Unloaded" or result[0].status == "In Transit" %}
                                                            <h5>Estimated Date of Dispatch :
                                                                <span class="label label-success">
                                                                    <b>{{result[0].dateandtime|date_modify("+15 days")|date("d-F-Y")}}</b>
                                                                </span>
                                                            </h5>
                                                        {% elseif result[0].status == "Direct" or result[0].status == "For Delivery" %}
                                                            <h5>Estimated Date of Delivery :
                                                                <span class="label label-success">
                                                                    {% if hardport == "1" %}
                                                                        <b>{{result[0].dateandtime|date_modify("+30 days")|date("d-F-Y")}}</b>
                                                                    {% else %}
                                                                        <b>{{result[0].dateandtime|date_modify("+15 days")|date("d-F-Y")}}</b>
                                                                    {% endif %}
                                                                </span>
                                                            </h5>
                                                        {% elseif result[0].status == "Picked-Up" 
                                                        or result[0].status == "Accepted" %}
                                                            <h5>Estimated Date of Loading :
                                                                <span class="label label-success">
                                                                    <b>{{result[0].dateandtime|date_modify("+15 days")|date("d-F-Y")}}</b>
                                                                </span>
                                                            </h5>
                                                        {% elseif result[0].status == "" %}
                                                            <h5>Estimated Date of Loading :
                                                                <span class="label label-success">
                                                                    <b></b>
                                                                </span>
                                                            </h5>
                                                        {% endif %}
                                                </div>
                                                <div class="col-md-12">
                                                    {% if hardport == "1" %}
                                                        <h5>Hardport Destination : <span class="label label-warning"><b>True</b></span></h5>
                                                    {% elseif hardport == "0" %}
                                                        <h5>Hardport Destination : <span class="label label-danger"><b>False</b></span></h5>
                                                    {% else %}
                                                        <h5>Hardport Destination : <span class="label label-danger"><b></b></span></h5>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date and Time</th>
                                            <th>Status</th>
                                            <th>Location</th>                                         
                                            <th>Details</th>                                         
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key,row in result %}
                                        <tr>
                                            <td>{{ row.dateandtime|date("d/M/Y") }}</td>
                                            <td>{{ row.activity }}</td>
                                            <td>{{ row.location }}</td>
                                            <td>{{ row.details }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <!-- Chat box -->
                                <div class="box box-danger">
                                    <div class="box-header">
                                        <i class="fa fa-comments-o"></i>
                                        <h3 class="box-title">Remarks</h3>
                                    </div>
                                    <div class="box-body chat" style="height:250px;overflow-y:scroll;">
                                    <!-- chat item -->
                                    {%  for m in messages %}
                                        <div class="item">
                                             <img src="./libraries/images/user.png" alt="user image" class="online">                            
                                            <p class="message direct-chat-text">
                                            <a class="name">
                                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{m.createddate}}</small>
                                                {{ m.name }}
                                            </a>
                                            {{ m.message }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                    <!-- /.item -->
                                    </div>
                                    <!-- /.chat -->
                                    <div class="box-footer">
                                    <form method="POST" action="index.php?controller=trackntrace&action=isn">
                                        <div class="input-group">
                                            <input type="hidden" name="trans" value="{{transaction_no}}">
                                            <input name="message" class="form-control" placeholder="Type message...">
                                            <div class="input-group-btn">
                                                <input type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                                <!-- /.box (chat box) -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}