{% extends "./_layout.html" %} {% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <div class="box-body">

                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <form method="POST" action="index.php?controller=trackntrace&action=search" class="input-group">
                                    <input type="text" id="transaction_no" name="transaction_no" 
                                    class="form-control" placeholder="Tracking #" value="{{transaction_no}}">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-danger btn-flat"><span
                                                class="fa fa-fw fa-search"></span></button>
                                    </span>
                                </form>
                            </div>
                        </div>
                        <br><br><br>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-danger">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Details</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-6">
                                            <h5>Transaction # : <span class="label label-success"><b> {{transaction_no }}</b></span></h5>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Sender name : <span class="label label-success"><b>{{result[0].sender}}</b></span></h5>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Current Status : <span class="label label-success"><b>{{result[0].status}}</b></span></h5>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Quantity : <span class="label label-success"><b>{{ result[0].qty }} pcs.</b></span></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Date and Time</th>
                                            <th>Status</th>
                                            <th>Location</th>                                         
                                            <th>Details</th>                                         
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key,row in result %}
                                        <tr>
                                            <td>{{ key+1 }}</td>
                                            <td>{{ row.dateandtime|date("d/M/Y") }}</td>
                                            <td>{{ row.activity }}</td>
                                            <td>{{ row.location }}</td>
                                            <td>{{ row.details }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <!-- Chat box -->
                                <div class="box box-danger">
                                    <div class="box-header">
                                        <i class="fa fa-comments-o"></i>
                                        <h3 class="box-title">Remarks</h3>
                                    </div>
                                    <div class="box-body chat" style="height:320px;overflow-y:scroll;">
                                    <!-- chat item -->
                                    {%  for m in messages %}
                                        <div class="item">
                                             <img src="./libraries/images/user.png" alt="user image" class="online">                            
                                            <p class="message direct-chat-text">
                                            <a class="name">
                                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{m.createddate}}</small>
                                                {{ m.name }}
                                            </a>
                                            {{ m.message }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                    <!-- /.item -->
                                    </div>
                                    <!-- /.chat -->
                                    <div class="box-footer">
                                    <form method="POST" action="index.php?controller=trackntrace&action=isn">
                                        <div class="input-group">
                                            <input type="hidden" name="trans" value="{{transaction_no}}">
                                            <input name="message" class="form-control" placeholder="Type message...">
                                            <div class="input-group-btn">
                                                <input type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                                <!-- /.box (chat box) -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}