{% extends "./_layout.html" %} {% block content %}
<div class="content-wrapper">
    {{ include("_generic_component/list_breadcrumb.html") }}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <form action="index.php?controller=financialliquidation&action=save" method="POST" class="row">
            <input type="hidden" id="id" name="id" value="{{ result[0].id }}"/>
            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <h5>Details</h5>
                                    </div>
                                    <div class="pull-right box-tools">
                                        <a href="#" class="text-muted" data-widget="collapse" data-original-title="Collapse"><i
                                                class="fa fa-minus"></i></a>
                                    </div>
                                </div>
                                <div class="box-body form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% include '_generic_component/dropdown.html'
                                            with {'label': 'Employee' , 'data' : allemployee, 'id' : 'employee_id'} %}
                                        </div>                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">*Date</label>
                                                <div class="col-md-9">
                                                    <input type="date" value="{{result[0].liquidation_date}}" class="form-control" name="liquidation_date" >
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_number.html'
                                            with {'label': 'Amount' , 'id' : 'amount',
                                            'value' : result[0].amount , 'required' : true} %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_textarea.html'

                                            with {'label': 'Description' , 'id' : 'description',
                                            'value' : result[0].description , 'required' : false} %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-block btn-primary">
                                <span class="fa fa-fw fa-save"></span>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.row -->

    </section>
</div>
{% endblock content %}