{% extends "./_layout.html" %} {% block content %}
<div class="content-wrapper">
    {{ include("_generic_component/list_breadcrumb.html") }}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-12 margin-bottom">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Created Date</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" value="{{ data[0].createddate|date("d/M/Y") }}"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Manufacturer Name</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" value="{{ data[0].manufacturer_name }}"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Warehouse Name</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" value="{{ data[0].warehouse_name }}"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box no-border">
                                    <div class="box-body table-responsive">
                                        <table id="bookinglist" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Box Type</th>
                                            <th>Quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, value in result %}
                                            <tr>
                                                <td>{{ key + 1 }}</td>
                                                <td>{{ value['boxtype'] }}</td>
                                                <td>{{ value['quantity'] }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        Total price : <span class="label label-success">{{ result[0].price }}.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="box-title">
                        <div class="box-title">
                            <h4><b>IMAGES</b></h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-sm-12">
                            <div class="row">
                                {% for key,row in images %}
                                <div class="col-sm-2 margin-bottom">
                                    <img id="myImg" onclick="openModal(this)" class="img-responsive" src='data:image/jpeg;base64,{{ row['image'] }}' />
                                </div>
                                {% endfor %}
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- /.row -->

</section>
</div>
{% endblock content %}