{% extends "./_layout.html" %} {% block content %}
<div class="content-wrapper">
    {{ include("_generic_component/list_breadcrumb.html") }}
    <section class="content">
        <form action="index.php?controller=chartaccounts&action=save" method="POST" class="row">
            <input type="hidden" name="id" id="id" value="{{ result[0].id }}"/>
            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <h5>Details</h5>
                                    </div>
                                    <div class="pull-right box-tools">
                                        <a href="#" class="text-muted" data-widget="collapse" data-original-title="Collapse"><i
                                                class="fa fa-minus"></i></a>
                                    </div>
                                </div>
                                <div class="box-body form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">*Account Code</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="account_code"
                                                        placeholder="Account Code" value="{{result[0].account_code}}" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">*Acount Chart</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="account_chart"
                                                        placeholder="Acount Chart" value="{{result[0].account_chart}}" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/dropdown.html'
                                            with {'label': 'Account Type' , 'data' : chartaccounttype, 'id' : 'account_type'} %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-block btn-primary">
                                <span class="fa fa-fw fa-save"></span>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.row -->

    </section>
</div>
{% endblock content %}