{% extends "./_layout.html" %} {% block content %}

<div class="content-wrapper">
    {{ include("_generic_component/list_breadcrumb.html") }}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <form class="row" action="" type="post" id="savecustomer">
            <input name="id" id="id" type="hidden" value="{{ result[0].id }}">
            <input name="type" id="type" type="hidden" value="{{ breadcrumb.controller }}">

            <div class="box box-danger">
                {{ include("_generic_component/list_header.html") }}
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <h5>Personal Details</h5>
                                    </div>
                                    <div class="pull-right box-tools">
                                        <a href="#" class="text-muted" data-widget="collapse" data-original-title="Collapse"><i
                                                class="fa fa-minus"></i></a>
                                    </div>
                                </div>
                                <div class="box-body form-horizontal">
                                    <div class="row">
                                        {{ include("_generic_component/notification.html") }}

                                        <div class="col-md-6">
                                            {% include '_generic_component/input_text.html'
                                            with {'label': 'First name' , 'id' : 'firstname',
                                            'value' : result[0].firstname , 'required' : true} %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_text.html'
                                            with {'label': 'Last name' , 'id' : 'lastname',
                                            'value' : result[0].lastname , 'required' : true} %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_text.html'
                                            with {'label': 'Middle name' , 'id' : 'middlename',
                                            'value' : result[0].middlename , 'required' : false} %}
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Birthday</label>
                                                <div class="col-md-9">
                                                    <div class="input-group date">
                                                        <input type="date" name="birthdate" class="form-control pull-right"
                                                            id="datepicker" placeholder="Birthday" value="{{ result[0].birthdate }}">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_text.html'
                                            with {'label': 'Mobile' , 'id' : 'mobile',
                                            'value' : result[0].mobile , 'required' : true} %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_text.html'
                                            with {'label': 'Secondary number' , 'id' : 'mobile_two',
                                            'value' : result[0].secondary_number , 'required' : false} %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_text.html'
                                            with {'label': 'Another number' , 'id' : 'mobile_three',
                                            'value' : result[0].another_number , 'required' : false} %}
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Phone</label>
                                                <div class="col-md-9">
                                                    <input type="tel" class="form-control" name="phone" placeholder="Phone"
                                                        value="{{ result[0].phone }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Gender</label>
                                                <div class="col-md-9">
                                                    <input id="radio1" name="gender" value="MALE" type="radio" {% if
                                                        result[0].gender=='MALE' %} checked="true" {% else %} checked="true"
                                                        {% endif %}>
                                                    MALE
                                                    &nbsp;&nbsp;&nbsp;
                                                    <input id="radio1" name="gender" value="FEMALE" type="radio" {% if
                                                        result[0].gender=='FEMALE' %} checked="true" {% endif %}>
                                                    FEMALE
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            {% include '_generic_component/input_email.html'
                                            with {'label': 'Email' , 'id' : 'email',
                                            'value' : result[0].email , 'required' : false} %}
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Address</label>
                                                <div class="col-md-9 form-inline">

                                                    {% if breadcrumb.controller == 'receiver' %}

                                                    {% include '_generic_component/select.html'
                                                    with {'label': 'Province' , 'data' : allprovince, 'id' :
                                                    'province' } %}

                                                    {% include '_generic_component/select.html'
                                                    with {'label': 'City' , 'data' : allcity, 'id' :
                                                    'city' } %}

                                                    {% include '_generic_component/select.html'
                                                    with {'label': 'Barangay' , 'data' : allbarangay, 'id' :
                                                    'barangay' } %}

                                                    <input type="text" name="postal_code" class="form-control" style="width: 49%"
                                                        placeholder="Postal Code" />
                                                    <input type="text" name="house_number_street" class="form-control"
                                                        style="width: 100%" placeholder="House # Street " />

                                                    {% else %}
                                                    <input type="text" name="house_number_street" class="form-control col-md-4"
                                                        style="width:100%;" placeholder="House # Street" value="{{ result[0].house_number_street }}" required>
                                                    <input type="text" name="barangay" class="form-control col-md-2"
                                                        style="width:50%;" placeholder="Barangay or Village" value="{{ result[0].barangay }}" required>
                                                    <input type="text" name="city" class="form-control col-md-2" style="width:50%;"
                                                        placeholder="City" value="{{ result[0].city }}" required>
                                                    {% endif %}
                                                </div>
                                                <input name="account_no" id="account_no" type="hidden" value="{{ result[0].account_no }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if breadcrumb.controller == 'receiver' %}
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <h5>Sub Receiver Details</h5>
                                    </div>
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-block bg-gray-active" data-toggle="modal"
                                            data-target="#modal-add">
                                            <span class="fa fa-fw fa-plus"></span>Add</button>
                                    </div>
                                </div>
                                <div class="box-body form-horizontal">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table id="sub_receiver" class="table table-bordered table-responsive table-striped">
                                                <thead>
                                                    <tr>                                                        
                                                        <th>Firstname</th>
                                                        <th>Lastname</th>
                                                        <th>Relation</th>
                                                        <th>Address</th>
                                                        <th width="5px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for row in subreceiver %}
                                                    <tr>
                                                        <td id="fname">{{row.firstname}}</td>
                                                        <td id="lname">{{row.lastname}}</td>
                                                        <td id="relation">{{row.relation}}</td>
                                                        <td id="address">{{row.address}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-xs btn-danger" data-toggle="modal"
                                                                data-target="#modal-delete"                                                                 
                                                                data-id="{{ row.id }}"
                                                                data-table="sub_receiver"
                                                                data-url="{{url}}">
                                                            <span class="fa fa-trash"></span></button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /.content-wrapper -->
                            <div class="modal fade" id="modal-add">
                                <div class="modal-dialog">
                                    <input type="hidden" id="id" name="id" />
                                    <input type="hidden" id="table" name="table" />
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title"><span class="fa fa-plus"></span> New Sub Receiver</h4>
                                        </div>
                                        <div class="modal-body form-horizontal">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-12">
                                                        <div class="col-md-12">
                                                            {% include '_generic_component/input_text.html'
                                                            with {'label': 'Firstname' , 'id' : 'sub_firstname',
                                                            'value' : "" , 'required' : false} %}
                                                        </div>
                                                        <div class="col-md-12">
                                                            {% include '_generic_component/input_text.html'
                                                            with {'label': 'Lastname' , 'id' : 'sub_lastname',
                                                            'value' : "" , 'required' : false} %}
                                                        </div>
                                                        <div class="col-md-12">
                                                            {% include '_generic_component/input_text.html'
                                                            with {'label': 'Relation' , 'id' : 'sub_relation',
                                                            'value' : "" , 'required' : false} %}
                                                        </div>
                                                        <div class="col-md-12">
                                                            {% include '_generic_component/input_textarea.html'
                                                            with {'label': 'Address' , 'id' : 'sub_address',
                                                            'value' : "" , 'required' : false} %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" id="btnSubReceiverAdd" class="btn btn-success"><span
                                                    class="fa fa-save"></span>&nbsp;
                                                Save</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-block btn-primary"><span class="fa fa-fw fa-save"></span>Save</button>
                    </div>
                </div>
            </div>
</div>
</form>
<!-- /.row -->

</section>
</div>
{% endblock content %}