{% extends "_layout.html" %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard 
      <small><i>Welcome to your dashboard</i></small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="index.php?controller=index&action=dashboard">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3 id="philtime"></h3>
            <p>Philippine Time</p>
          </div>
          <div class="icon">
            <i class="fa fa-clock-o"></i>
          </div>
          <!-- <a href="index.php?controller=reservation&action=list" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a> -->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner" onload="">
            <h3 id="philtime2"></h3>
            <p>Dubai Time</p>
          </div>
          <div class="icon">
            <i class="fa fa-clock-o"></i>
          </div>
          <!-- <a href="index.php?controller=booking&action=list" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a> -->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3 id="philtime3"></h3>
            <!-- <h3>{{ customer }}</h3> -->
            <p>Riyadh Time</p>
          </div>
          <div class="icon">
            <i class="fa fa-clock-o"></i>
          </div>
          <!-- <a href="index.php?controller=customer&action=list" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a> -->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3 id="philtime4"></h3>
            <p>Toronto Time</p>
          </div>
          <div class="icon">
            <i class="fa fa-clock-o"></i>
          </div>
          <!-- <a href="index.php?controller=receiver&action=list" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a> -->
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <div class="col-md-6">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">RESERVATION</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-8">
                <div class="chart-responsive">
                  <canvas id="pieChart" height="150">
                    <p id="pending" style="visibility:hidden;">{{pendingreservation}}</p>
                    <p id="paid" style="visibility:hidden;">{{paid}}</p>
                    <p id="booked" style="visibility:hidden;">{{booked}}</p>
                    <p id="acc" style="visibility:hidden;">{{acceptance}}</p>
                  </canvas>
                </div>
                <!-- ./chart-responsive -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <ul class="chart-legend clearfix">
                  <li><i class="fa fa-circle-o text-yellow"></i> Pending</li>
                  <li><i class="fa fa-circle-o text-green"></i> Paid</li>
                  <li><i class="fa fa-circle-o text-aqua"></i> Booked</li>
                  <li><i class="fa fa-circle-o text-red"></i> For Acceptance</li>
                </ul>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="#">Pending<span class="pull-right text-yellow"> {{pendingreservation}}</span></a>
              </li>
              <li>
                <a href="#">Paid<span class="pull-right text-green"> {{paid}}</span></a>
              </li>
              <li>
                <a href="#">Booked<span class="pull-right text-aqua"> {{booked}}</span></a>
              </li>
              <li>
                <a href="#">For Acceptance<span class="pull-right text-red"> {{acceptance}}</span></a>
              </li>
            </ul>
          </div>
          <!-- /.footer -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">BOOKING LIST</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <ul class="products-list product-list-in-box" style="height:280px;overflow-x:hidden;overflow-y:scroll;">
              {% for i in 0..booked-1 %}
              <li class="item">
                <div class="product-img">
                  <img src="./libraries/admin-lte/dist/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="index.php?controller=booking&action=view&transaction_no={{bookingData[i].transaction_no}}" class="product-title">{{bookingData[i].transaction_no}}
                    {% if bookingData[i].total_amount != 0 %}
                      <span class="label label-warning pull-right">{{bookingData[i].total_amount}}</span>
                    {% endif %}
                    </a>
                  <span class="product-description">
                    {{bookingData[i].book_date}}
                  </span>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center">
            <a href="index.php?controller=booking&action=list" class="uppercase">View All</a>
          </div>
          <!-- /.box-footer -->
        </div>
      </div>
    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
{% endblock content %}